@{
    ViewBag.Title = "Acerca de..";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>WebReportMWM</h1>
    <p class="lead">
        WebReportMWM es una aplicación destinada a la generación de reportes de
        movimientos del Sistema de Gestión de Producción MeatWeigher.
    </p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
