@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Murguiondo 525 PB DP1 - Liniers (1408)<br />
    Ciudad Autonoma de Buenos Aires - ARGENTINA<br />
    <abbr title="Telefono">T:</abbr>
    011-46410610
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@imcr.com.ar">soporte@imcr.com.ar</a><br />
</address>